flask
neo4j
python-dotenv=
werkzeug
pandas
plotly
sentence-transformers
mistralai
flask-cors
Flask==2.3.3
Flask-Session==0.4.0
neo4j==5.14.0
python-dotenv==1.0.0
sentence-transformers==2.2.2
mistralai==0.1.2
werkzeug==2.3.7
pytz==2023.3
numpy==1.24.3
pandas==2.0.3
plotly==5.15.0